* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --line-color: rgb(0, 0, 0);
    --bg-color: rgb(228, 228, 228);
    --taint-color: rgb(16, 224, 61);
    --corrode-color: rgb(94, 15, 15);
}

h1 {
    margin: 10px;
    color: rgb(235, 40, 105);
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
}

#sketch-board {
    /* set this element to content-width so we know the size without border */
    box-sizing: content-box;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 5px solid rgb(0, 113, 128);
    flex: none;
}

#stage {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

#tool-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.tool-button {
    flex: 1;
    margin: 2px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.minor-grid {
    border: 1px solid var(--line-color);
    flex: 1;
}

.default-color {
    background-color: var(--bg-color);
}

.tainted {
    background-color: var(--taint-color);
}

.corroded {
    background-color: var(--corrode-color);
    border: none;
}

#addon {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.options {
    padding: 2px;
}

#footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}